
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 20px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
	background-image: url("pics/city.jpg");
	 background-repeat: no-repeat;
	     background-position: center;
		 background-size: cover;
		 box-shadow: 10px 10px 5px #888888;
      background-color: black;	  /* Green */
      color: white;
	  font-size: 20px;

		  margin-right: 15px;
		  
		  	  border-bottom: solid black;
	    border-top: solid black;
 

  }
  .bg-2 { 
      background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#022670+0,011638+100 */
background: rgb(2,38,112); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(2,38,112,1) 0%, rgba(1,22,56,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(2,38,112,1) 0%,rgba(1,22,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(2,38,112,1) 0%,rgba(1,22,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022670', endColorstr='#011638',GradientType=0 ); /* IE6-9 */
; /* Dark Blue */
      color: #ffffff;
	  padding-left: 15px;
	  padding-right: 15px;
	  padding-bottom: 100px;
	  	  box-shadow: 10px 10px 5px #888888;

		  margin-right: 15px;
		  margin-top: 15px;
		  
		  	  border-bottom: solid black;
	    border-top: solid black;


  }
  .bg-3 { 
      background-color:white; /* White */
      color: #555555;
	  

  }
  .bg-4 { 
      background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#545454+0,2f2f2f+100 */
background: rgb(84,84,84); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(84,84,84,1) 0%, rgba(47,47,47,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(84,84,84,1) 0%,rgba(47,47,47,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(84,84,84,1) 0%,rgba(47,47,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#2f2f2f',GradientType=0 ); /* IE6-9 */
; /* Black Gray */
      color: #fff;
	  	  	  box-shadow: 10px 10px 5px #888888;

		  margin-right: 15px;
		   margin-bottom: 15px;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
	  

  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  
  h1{
	  font-size: 70px;
	  padding: 50px;
	  letter-spacing: 15px;
	       text-shadow: 2px 2px 4px #000000;
  }
  
  h2{
	  font-size: 35px;
	  padding-bottom: 60px; 
  }
  
  h3{
letter-spacing:15px;
text-shadow: 2px 2px 4px #000000;
  }
  
    h4{
	font-size: 70px;
	letter-spacing:15px;
	text-shadow: 2px 2px 4px #a6a6a6;  
  }
  
  h5{
	font-size: 25px;
	letter-spacing:15px;
  text-shadow: 2px 2px 4px #000000;
	  
  }
  
  footer{

	  border-bottom: solid black;
	    border-top: solid black;
  }
  

   
.hideme{
opacity: 0;
}

.margin1{
	display: flex;
	padding-left: 150px;
	padding-right: 150px;
}

.foot{
	display: inline;
	width: 50%;
}

.name{
	font-size:15px;
	float:center;
}

.imageContainer > img:hover {
  width: 500px;
  height: 200px;
}


  
  